<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:svg="http://www.w3.org/2000/svg"
	  xmlns:xlink="http://www.w3.org/1999/xlink">
  <head>
  </head>
  <body>
  <svg:svg version="1.1" baseProfile="full" width="700px" height="240px" id="test1">
	<svg:rect x="100" y="20" width="600" height="200"
        fill="none" stroke="black" stroke-width="1"></svg:rect>

	<svg:g stroke="black" >
	  <svg:line x1="95" y1="20" x2="100" y2="20" stroke-width="1"></svg:line>
	  <svg:line x1="95" y1="70" x2="100" y2="70" stroke-width="1"></svg:line>
	  <svg:line x1="95" y1="120" x2="100" y2="120" stroke-width="1"></svg:line>
	  <svg:line x1="95" y1="170" x2="100" y2="170" stroke-width="1"></svg:line>
	  <svg:line x1="95" y1="220" x2="100" y2="220" stroke-width="1"></svg:line>
	</svg:g>

<!--	<svg:g stroke="grey" >
	  <svg:line x1="100" y1="20" x2="700" y2="20" stroke-width="1"></svg:line>
	  <svg:line x1="100" y1="70" x2="700" y2="70" stroke-width="1"></svg:line>
	  <svg:line x1="100" y1="120" x2="700" y2="120" stroke-width="1"></svg:line>
	  <svg:line x1="100" y1="170" x2="700" y2="170" stroke-width="1"></svg:line>
	  <svg:line x1="100" y1="220" x2="700" y2="220" stroke-width="1"></svg:line>
	</svg:g> 
-->
	
	<svg:text x="50" y="25" font-family="Verdana" font-size="10" fill="black" >10000Hz</svg:text>
	<svg:text x="50" y="75" font-family="Verdana" font-size="10" fill="black" >7500Hz</svg:text>
	<svg:text x="50" y="125" font-family="Verdana" font-size="10" fill="black" >5000Hz</svg:text>
	<svg:text x="50" y="175" font-family="Verdana" font-size="10" fill="black" >2500Hz</svg:text>
	<svg:text x="65" y="222" font-family="Verdana" font-size="10" fill="black">0Hz</svg:text>

	<svg:polyline
	   points="{{ pitchcontour }}"
	   style="stroke: red; stroke-width: 1; fill: none;"></svg:polyline>
	
</svg:svg>
</body>
</html>
