

<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:svg="http://www.w3.org/2000/svg"
	  xmlns:xlink="http://www.w3.org/1999/xlink">
  
  <head>
	<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.8.2r1/build/reset-fonts-grids/reset-fonts-grids.css" />
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js"></script>
	<link href="/stylesheets/birdsong.css" rel="stylesheet" type="text/css" />
	
	<script src="/javascript/birdsong.js"></script>
	<script src="/javascript/dtw.js"></script>
  </head>
  <body>
	<div id="#doc2">
	  
	  <div class="audioannotator">
		<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000"
				width="800"
				height="243"
				id="haxe"
				align="middle">
		  <param name="movie" value="/flash/audioannotator.swf"/>
		  <param name="allowScriptAccess" value="always" />
		  <param name="quality" value="high" />
		  <param name="scale" value="noscale" />
		  <param name="salign" value="lt" />
		  <param name="bgcolor" value="#ffffff"/>
		  <param name="FlashVars" value="recording_url=/songs/{{ recording_id }}" />
		  <embed src="/flash/audioannotator.swf"
				 FlashVars="recording_url=/songs/{{ recording_id }}&amp;visualization_url=/songs/{{ recording_id }}/spectrogram&amp;initial_start_ms=18080&amp;initial_zoom=0.001&amp;recording_id={{ recording_id }}"
				 bgcolor="#ffffff"
				 width="800"
				 height="243"
				 name="movie"
				 quality="best"
				 align="middle"
				 allowScriptAccess="always"
				 type="application/x-shockwave-flash"
				 pluginspage="http://www.macromedia.com/go/getflashplayer"></embed>
		</object>
	  </div>
	  <div id="annotations">
		{% include "recordings/show_annotations.html" %}
	  </div>
	  <div id="pitchcontours">

		{% for pitchcontour in pitchcontours %}
		<div>
		
		<svg:svg version="1.1" baseProfile="full" width="700px" height="240px" id="test1" >
		  
		  <svg:rect x="100" y="20" width="200" height="100"
					fill="none" stroke="black" stroke-width="1" />
		  
		  <svg:g stroke="black" >
			<svg:line x1="95" y1="20" x2="100" y2="20" stroke-width="1" />
			<svg:line x1="95" y1="50" x2="100" y2="50" stroke-width="1" />
			<svg:line x1="95" y1="80" x2="100" y2="80" stroke-width="1" />
			<svg:line x1="95" y1="110" x2="100" y2="110" stroke-width="1" />
			<svg:line x1="95" y1="140" x2="100" y2="140" stroke-width="1" />
		  </svg:g>
		  
		   <svg:g stroke="grey" >
				<svg:line x1="100" y1="50" x2="700" y2="50" style="stroke-dasharray: 9, 5; stroke: #f3f3f3; stroke-width: 0.5;" />
				<svg:line x1="100" y1="80" x2="700" y2="80" style="stroke-dasharray: 9, 5; stroke: #f3f3f3; stroke-width: 0.5;" />
				<svg:line x1="100" y1="110" x2="700" y2="110" style="stroke-dasharray: 9, 5; stroke: #f3f3f3; stroke-width: 0.5;" />
		  </svg:g> 
		  
		  
		  <svg:text x="50" y="25" font-family="Verdana" font-size="10" fill="black" >10000Hz</svg:text>
		  <svg:text x="50" y="55" font-family="Verdana" font-size="10" fill="black" >7500Hz</svg:text>
		  <svg:text x="50" y="85" font-family="Verdana" font-size="10" fill="black" >5000Hz</svg:text>
		  <svg:text x="50" y="115" font-family="Verdana" font-size="10" fill="black" >2500Hz</svg:text>
		  <svg:text x="65" y="142" font-family="Verdana" font-size="10" fill="black">0Hz</svg:text>
		  
		  <svg:polyline
			 points="{{ pitchcontour }}"
			 style="stroke: red; stroke-width: 1; fill: none;"></svg:polyline>

		</svg:svg>

		  </div>
		  {% endfor %}

	  </div>
	</div>
  </body>
  
</html>

