<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:svg="http://www.w3.org/2000/svg"
	  xmlns:xlink="http://www.w3.org/1999/xlink">

  <svg:svg version="1.1" baseProfile="full" width="200px" height="200px">
	<svg:polyline
	   points="{{ pitchcontour }}"
	   style="stroke: red; stroke-width: 1; fill: none;"/> 
  </svg:svg>
  
  <svg:svg version="1.1" baseProfile="full" width="200px" height="200px">
	<svg:polyline
	   points="{{ rmscontour }}"
	   style="stroke: green; stroke-width: 1; fill: none;"/> 
  </svg:svg>

</html>
