body { background-color: lightgray; } 
/* begin custom Marsyas css file.  Please leave "body" above this line,
 * because otherwise this comment won't show up.  (?) */

h3 { color: purple; }
h4 { color: darkblue; }
hr { border: 0; color: green; background-color: green; }
strong { color: red; }
table.cartouche { color: red; }

/* end custom Marsyas css file */
