<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:svg="http://www.w3.org/2000/svg"
	  xmlns:xlink="http://www.w3.org/1999/xlink">
  
  <head>
	<title>Django/Marsyas pitch detector</title>
	
	<link href="/assets/reset-fonts-grids.css" media="screen, projection" rel="stylesheet" type="text/css" />
	<link href="/assets/calls.css" media="screen, projection" rel="stylesheet" type="text/css" />
	
	<script src="/assets/jquery.min.js" type="text/javascript"></script>
	<script src="/assets/dtw.js" type="text/javascript"></script>
	
  </head>
  
  <body>

	<div id="doc2">
	  <center>
		<h1>Audio playback in HTML5</h1>
	  </center>
	  
		  <img src="/assets/onsets/jpg/2005_449A_trim.jpg" />
	  
	</div>
  </body>
</html>

